################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Draw
/Debug
/Draw/Debug
/Draw.VC.db
/ipch/DRAW-89e1f4af
